<!DOCTYPE html>
<html lang="es"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema Pos</title>

    <link rel="stylesheet" th:href="@{'/style.css'}">
    <script  th:src="@{'/node_modules/bootstrap/dist/js/bootstrap.bundle.js'}"></script>
</head>
<body>
<nav th:replace="barraNavegacion::barraNavegacion">

</nav>
 <div class="container">

 </div>
    
    <script src="node_modules//jquery/dist/jquery.js"></script>

</body>
</html>